@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 37 99 235;
    --primary-foreground: 255 255 255;
    --primary-hex: #000000;
  }

  .dark {
    --primary: 37 99 235;
    --primary-foreground: 255 255 255;
    --primary-hex: #ffffff;
  }
}
